body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
}

/* Transición de color */
.item {
  background-color: tomato;
  width: 200px;
  height: 200px;
  transition-property: background-color;
  transition-duration: 800ms;
  transition-timing-function: linear;
  transition-delay: 500ms;
  /* Puedo usar esto para el nav del proyecto */
}

.item:hover {
  background-color: lightskyblue;
  transition: 800ms;
}

/*Ampliar un Parrafo*/
.parrafoAmplio {
  transition: font-size 600ms ease-out 200ms;
}

.parrafoAmplio:hover {
  font-size: large;
  cursor: pointer;
}

/*Transicion de opacidad*/
.itemOpacity {
  width: 200px;
  height: 100px;
  background-color: rebeccapurple;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.itemOpacity:hover {
  opacity: 1;
}

/*Transicion de posicion (subrrayado*/
.subrayado {
  position: relative;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
}

.subrayado::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  background-color: chartreuse;
  height: 2px;
  transition: width 450ms ease-in;
}

.subrayado:hover::after {
  width: 100%;
}

/*Animacion de movimiento*/
.containerAnimated {
  width: 150px;
  height: 25px;
  background-color: rgb(143, 142, 142);
  color: black;
  animation-name: moving;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(1, -0, 31, 0, 1.25);
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes moving {
  from {
    /*Aqui nombro los valores de css quiero que la animación en el inicio*/
    transform: translateX(0px);
  }
  to {
    transform: translate(60dvh);
  }
}

/*Animación de rotacion*/
.rotatedP {
  animation: rotated 3s linear infinite;
}

@keyframes rotated {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Animación de escala*/
.scaleP {
  animation: scale 3s ease infinite alternate;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(2);
  }
  100% {
    transform: scale(0.7);
  }
}

/*Animación y transición */
.containerPrimary {
  width: 250px;
  height: 250px;
}
.circle {
  width: 30px;
  height: 30px;
  background-color: cornflowerblue;
  border-radius: 50%;
  position: relative;
  animation: animationCompleja 4s ease infinite;
}
@keyframes animationCompleja {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 100px;
  }
  50% {
    top: 100px;
    left: 100px;
  }
  75% {
    top: 100px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}


